language: ruby
services:
  - docker
env:
  global:
    - VERSION=1.9.7
    - IMAGE=imega/base-builder
    - ALPINE_VERSION=3.14

stages:
  - Test
  - Arch-Release
  - Manifest-Release

jobs:
  include:
    - stage: Test
      arch: amd64
      os: linux
      script: make test
    - stage: Test
      arch: ppc64le
      os: linux
      script: make test
    - stage: Test
      arch: arm64
      os: linux
      script: make test

    - stage: Arch-Release
      if: branch = master
      os: linux
      arch: amd64
      script:
        - ARCH_RELEASE=0
        - docker pull $IMAGE:$VERSION-$TRAVIS_CPU_ARCH || ARCH_RELEASE=1
        - "[ ${ARCH_RELEASE} == 1 ] && (make release DOCKER_USER=$DOCKER_USER DOCKER_PASS=$DOCKER_PASS IMAGE=$IMAGE TAG=$VERSION)"
    - stage: Arch-Release
      if: branch = master
      os: linux
      arch: ppc64le
      script:
        - "docker pull $IMAGE:$VERSION-$TRAVIS_CPU_ARCH || make release DOCKER_USER=$DOCKER_USER DOCKER_PASS=$DOCKER_PASS IMAGE=$IMAGE TAG=$VERSION"
    - stage: Arch-Release
      if: branch = master
      os: linux
      arch: arm64
      script:
        - "docker pull $IMAGE:$VERSION-$TRAVIS_CPU_ARCH || make release DOCKER_USER=$DOCKER_USER DOCKER_PASS=$DOCKER_PASS IMAGE=$IMAGE TAG=$VERSION"

    - stage: Manifest-Release
      if: branch = master
      arch: amd64
      os: linux
      script:
        - export DOCKER_CLI_EXPERIMENTAL=enabled
        - "docker pull $IMAGE:$VERSION || make release-manifest DOCKER_USER=$DOCKER_USER DOCKER_PASS=$DOCKER_PASS IMAGE=$IMAGE TAG=$VERSION || exit 0"
